/* Error: Undefined variable.
 *    ,
 * 82 |                 background: linear-gradient(to top, $couleur-primaire, $couleur-secondaire);
 *    |                                                     ^^^^^^^^^^^^^^^^^
 *    '
 *   sass\pages\menu.scss 82:53  @import
 *   sass\main.scss 4:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 82 \2502                  background: linear-gradient(to top, $couleur-primaire, $couleur-secondaire);\d\a    \2502                                                      ^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\pages\\menu.scss 82:53  @import\a   sass\\main.scss 4:9          root stylesheet";
}
