.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  z-index: 1;
  position: relative;
}
.header__logo {
  font-family: Shrikhand, "cursive";
  margin: 0;
  text-align: center;
}
.header__return {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}
.loader__global {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.9);
  z-index: 1;
  animation: loader 3s linear 1;
  animation-fill-mode: forwards;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: calc(50% - 70px);
  &:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 16px solid #ffffff;
    border-color: #b133aa #d37ace #b133aa #83297e;
    animation: lds-dual-ring 3s linear 1;
    animation-fill-mode: forwards;
  }
}
