/* Animation d'apparition des plats */

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Animation tournante coche menus */
@keyframes coche {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Animation loading spinner */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
